{% render 'views/head.liquid' %}
{% render 'views/nav.liquid' %}

<section class="intro-text-container">
    <h1>De mensen van Q42</h1>
    <p>Onze mensen noemen we Q'ers. Maar wie zijn dat dan? Die Q'ers die het internet aan het afmaken zijn? Check ze allemaal hieronder. En wil je ook Q'er worden, scroll dan even voorbij onze hoofden voor de openstaande vacatures!</p>
    <button class="main-btn" id="filter-btn">filter</button>
</section>

 
<div class="img-container">
    {% for qer in qers %}
        <picture>
            <source srcset="{{ qer.avatars | first }}" >
            <img class="mensen-img" src="{{ qer.avatars | first }}" alt="{{ qer.name | default: 'Gebruiker' }}" width="150">
        </picture>
    {% endfor %} 
</div>

{% render 'views/work-offers.liquid' %}

<section class="vragen-text-container">
    <h2>Vraag het team</h2>
    <p>Heb je een vraag voor het team? Bekijk de vragen hieronder of stel zelf je vraag en krijg antwoord van Q’ers</p>
</section>

{% render 'views/foot.liquid' %}