{% render 'views/head.liquid' %}
{% render 'views/nav.liquid' %}

<section class="intro-text-container">
    <h1>De mensen van Q42</h1>
    <p>Onze mensen noemen we Q'ers. Maar wie zijn dat dan? Die Q'ers die het internet aan het afmaken zijn? Check ze allemaal hieronder. En wil je ook Q'er worden, scroll dan even voorbij onze hoofden voor de openstaande vacatures!</p>
    <button id="filter-btn">filter</button>
</section>

 
<section class="img-container">
    {% for qer in qers %}
        <picture>
            <source type="" srcset="{{ qer.avatars | first }}" >
            <img src="{{ qer.avatars | first }}" alt="{{ qer.name | default: 'Gebruiker' }}" width="150" format="jpeg">
        </picture>
    {% endfor %} 
</section>

{% render 'views/work-offers.liquid' %}

<section class="vragen-text-container">
    <h2>Vraag het team</h2>
    <p>Heb je een vraag voor het team? Bekijk de vragen hieronder of stel zelf je vraag en krijg antwoord van Q’ers</p>
</section>

<section class="chat-container">
    <form action="" method="get">
        <div class="form-example">
            <label>Onderwerp vraag</label>
            <input type="text" name="title" required />
        </div>
        <div class="form-example">
            <label>Omschrijving vraag</label>
            <input type="text" name="title"/>
        </div>
        <div class="form-example">
            <button id="post-btn">posten</button>
        </div>
    </form>
</section>

{% render 'views/foot.liquid' %}