<nav>
    <div class="menu">
        <a class="open-menu-btn" href="#hidden-menu">MENU</a>
        <a href="https://www.q42.nl/"><img class="logo" src="/assets/q42-logo.svg" width="40" height="80" alt="Q42"></a>
        <a href="#footer" class="scroll-down-btn">CONTACT</a>
    </div>
    <div class="hidden-menu" id="hidden-menu">
        <ul class="links-menu links-menu-left">
            <li><a class="link-menu" href="https://www.q42.nl/">HOME</a></li>
            <li><a class="link-menu href="https://www.q42.nl/werk">WERK</a></li>
            <li><a class="link-menu href="https://www.q42.nl/ventures">VENTURES</a></li>
        </ul>
        <ul class="links-menu links-menu-right">
            <li><a class="link-menu href="https://www.q42.nl/hoe-we-werken">OVER</a></li>
            <li><a class="link-menu href="index.liquid">MENSEN</a></li>
            <li><a class="link-menu href="https://www.q42.nl/nieuws">NIEUWS</a></li>
        </ul>
        <a class="close-menu-btn" href="#">SLUIT</a>
    </div>
</nav> 