<nav>
    <picture class="logo">
        <source type="png" srcset="/touch-icon-76x76-precomposed.png" >
        <img src="/assets/touch-icon-76x76-precomposed.png" alt="Q42">
    </picture>
    <button class="hamburger-menu">MENU</button>
    <div class="links-menu">
        <a href="">HOME</a>
        <a href="">WERK</a>
        <a href="">VENTURES</a>
        <a href="">OVER</a>
        <a href="">MENSEN</a>
        <a href="">NIEUWS</a>
    </div>
    <a class="contact-menu" href="">CONTACT</a>
</nav>
