<nav>
    <button class="open-menu">MENU</button>
    <button class="close-menu">CLOSE</button>
    <ul class="links-menu">
        <li><a href="https://www.q42.nl/">HOME</a></li>
        <li><a href="https://www.q42.nl/werk">WERK</a></li>
        <li><a href="https://www.q42.nl/ventures">VENTURES</a></li>
    </ul>
    <a href="https://www.q42.nl/">
        <picture class="logo">
            <source srcset="assets/touch-icon-76x76-precomposed.png" >
            <img src="/assets/touch-icon-76x76-precomposed.png" alt="Q42">
        </picture>
    </a>
    <ul class="links-menu">
        <li><a href="https://www.q42.nl/hoe-we-werken">OVER</a></li>
        <li><a href="index.liquid">MENSEN</a></li>
        <li><a href="https://www.q42.nl/nieuws">NIEUWS</a></li>
    </ul>
    <button class="scroll-down-btn">CONTACT</button>
</nav>
