<nav>
    <div class="menu">
        <a class="open-menu-btn" href="#hidden-menu">MENU</a>
        <a href="https://www.q42.nl/"><img class="logo" src="/assets/q42-logo.svg" width="40" height="80" alt="Q42"></a>
        <a href="#footer" class="scroll-down-btn">CONTACT</a>
    </div>
    <div class="hidden-menu" id="hidden-menu">
        <ul class="links-menu links-menu-left">
            <li><a class="link-menu" href="https://www.q42.nl/">HOME</a></li>
            <li><a class="link-menu href="https://www.q42.nl/werk">WERK</a></li>
            <li><a class="link-menu href="https://www.q42.nl/ventures">VENTURES</a></li>
        </ul>
        <ul class="links-menu links-menu-right">
            <li><a class="link-menu href="https://www.q42.nl/hoe-we-werken">OVER</a></li>
            <li><a class="link-menu href="index.liquid">MENSEN</a></li>
            <li><a class="link-menu href="https://www.q42.nl/nieuws">NIEUWS</a></li>
        </ul>
        <a class="close-menu-btn" href="#">SLUIT</a>
    </div>
</nav> 

<script defer>
    // Selecteer menu button
    let openMenuBtn = document.querySelector('.open-menu')
    console.log(openMenuBtn)

    // Click event voor de menu button
    openMenuBtn.addEventListener('click', openMenu)

    // Voeg een functie toe aan de menu button
    function openMenu() {

        // Toon de sidebar
        let sideBar = document.querySelectorAll('.links-menu')
        sideBar.forEach(sideBar => {
            sideBar.classList.add('show-menu')
        })

        // Toon de sluit menu button
        let closeMenu = document.querySelector('.close-menu')
        closeMenu.classList.add('show-close-menu')
    }

    // Selecteer close button
    let closeMenuBtn = document.querySelector('.close-menu');
    console.log(closeMenuBtn);

    // Click event voor de close button
    closeMenuBtn.addEventListener('click', closeMenu);

    // Voeg een functie toe aan de close menu button
    function closeMenu() {
        // Selecteer alle .links-menu elementen
        let sluitSideBar = document.querySelectorAll('.links-menu');

        // Verwijder de show-menu class van elk element
        sluitSideBar.forEach(sideBar => {
            sideBar.classList.remove('show-menu');
        });

        // Remove de sluit menu button
        let closeMenu = document.querySelector('.close-menu')
        closeMenu.classList.remove('show-close-menu')
    }
</script>
