<nav>
    <button class="open-menu">MENU</button>
    <a href="https://www.q42.nl/">
        <picture class="logo">
            <source srcset="assets/touch-icon-76x76-precomposed.png" >
            <img src="/assets/touch-icon-76x76-precomposed.png" alt="Q42">
        </picture>
    </a>
    <a href="#footer" class="scroll-down-btn">CONTACT</a>
    <div class="hidden-menu">
    <button class="close-menu">CLOSE</button>
        <ul class="links-menu">
            <li><a href="https://www.q42.nl/">HOME</a></li>
            <li><a href="https://www.q42.nl/werk">WERK</a></li>
            <li><a href="https://www.q42.nl/ventures">VENTURES</a></li>
        </ul>
        <ul class="links-menu">
            <li><a href="https://www.q42.nl/hoe-we-werken">OVER</a></li>
            <li><a href="index.liquid">MENSEN</a></li>
            <li><a href="https://www.q42.nl/nieuws">NIEUWS</a></li>
        </ul>
    </div>
</nav>

<script>
    // Selecteer menu button
    let openMenuBtn = document.querySelector('.open-menu')
    console.log(openMenuBtn)

    // Click event voor de menu button
    openMenuBtn.addEventListener('click', openMenu)

    // Voeg een functie toe aan de menu button
    function openMenu() {

        // Toon de sidebar
        let sideBar = document.querySelectorAll('.links-menu')
        sideBar.forEach(sideBar => {
            sideBar.classList.add('show-menu')
        })

        // Toon de sluit menu button
        let closeMenu = document.querySelector('.close-menu')
        closeMenu.classList.add('show-close-menu')
    }

    // Selecteer close button
    let closeMenuBtn = document.querySelector('.close-menu');
    console.log(closeMenuBtn);

    // Click event voor de close button
    closeMenuBtn.addEventListener('click', closeMenu);

    // Voeg een functie toe aan de close menu button
    function closeMenu() {
        // Selecteer alle .links-menu elementen
        let sluitSideBar = document.querySelectorAll('.links-menu');

        // Verwijder de show-menu class van elk element
        sluitSideBar.forEach(sideBar => {
            sideBar.classList.remove('show-menu');
        });

        // Remove de sluit menu button
        let closeMenu = document.querySelector('.close-menu')
        closeMenu.classList.remove('show-close-menu')
    }




</script>
