<nav>
    <picture>
        <source type="png" srcset="/touch-icon-76x76-precomposed.png" >
        <img src="/touch-icon-76x76-precomposed.png" alt="Q42">
    </picture>
    <button>MENU</button>
    <div>
        <a href="">HOME</a>
        <a href="">WERK</a>
        <a href="">VENTURES</a>
        <a href="">OVER</a>
        <a href="">MENSEN</a>
        <a href="">NIEUWS</a>
    </div>
    <a href="">CONTACT</a>
</nav>
