<section class="werken-text-container">
    <div class="text-section">
    <h2>Ook werken bij Q42?</h2>
    <p>Hou jij van mooie web-, app-, IoT- of VR-dingen programmeren? En van de eindgebruiker verbazen? Dan willen wij graag met jou praten! Want wij zijn altijd op zoek naar knappe koppen. Check dus snel  <a href="">onze vacatures!</a></p>
    </div>
</section>


{% comment %} <table class="work-offers-container">
    <a class="work-offer" href="https://werkenbij.q42.nl/stage">
        <img id="suitcase-icon" src="/assets/suitcase_icon.png" alt="" width="60" height="60">
            <ul class="work-offers-text">
                <li>Stage</li>
                <li>Internship</li>
                <li>Den Haag en/of Amsterdam</li>
            </ul>
        <img id="arrow-icon" src="/assets/arrowhead_icon.png" alt="" width="30" height="30">
    </a>
    <a class="work-offer" href="https://werkenbij.q42.nl/stage">
        <img id="suitcase-icon" src="/assets/suitcase_icon.png" alt="" width="60" height="60">
            <ul class="work-offers-text">
                <li>Stage</li>
                <li>Internship</li>
                <li>Den Haag en/of Amsterdam</li>
            </ul>
        <img id="arrow-icon" src="/assets/arrowhead_icon.png" alt="" width="30" height="30">
    </a>
</table> {% endcomment %}

<table>
    <caption>Vacatures</caption>
    <tr>
        <th>Stage</th>
        <td>Internship</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
    <tr> 
        <th>Open sollicitatie</th>
        <td>Full-time</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
    <tr>
        <th>Front-end developer</th>
        <td>Full-time</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
    <tr>
        <th>Ervaren .NET back-end developer</th>
        <td>Full-time</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
    <tr>
        <th>Android-developer</th>
        <td>Full-time</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
    <tr>
        <th>Ervaren Go developer Hue-platform</th>
        <td>Full-time</td>
        <td>Den Haag</td>
    </tr>
    <tr>
        <th>Allround back-end developer (senior)</th>
        <td>Full-time</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
    <tr>
        <th>Full-time / senior software engineer</th>
        <td>Internship</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
    <tr>
        <th>AI-engineer</th>
        <td>Full-time</td>
        <td>Den Haag en/of Amsterdam</td>
    </tr>
</table>