<section class="werken-text-container">
    <h2>Ook werken bij Q42?</h2>
    <p>Hou jij van mooie web-, app-, IoT- of VR-dingen programmeren? En van de eindgebruiker verbazen? Dan willen wij graag met jou praten! Want wij zijn altijd op zoek naar knappe koppen. Check dus snel  <a href="">onze vacatures!</a></p>
</section>

<section class="work-offers-container">
    <a class="work-offer" href="https://werkenbij.q42.nl/stage">
        <img src="/assets/suitcase_icon.png" alt="" width="80" height="80">
        <div>
            <p>Stage</p>
            <p>Internship</p>
            <p>Den Haag en/of Amsterdam</p>
        </div>
        <img src="/assets/arrowhead_icon.png" alt="" width="40" height="40">
    </a>
</section>