:root {
    /* Tekstkleuren */
  --heading-color: #eeeeee;
  --primary-text-color: #aaaea2;
  --secondary-text-color: #fff;

    /* Achtergrondkleuren */
  --primary-background-color: #212121;
  --secondary-backgound-color: #41453b;

    /* Highlightkleuren */
  --color-highlight: #84bc2d;

  /* Typografie */
  --font-family-heading: 'proxima-nova', sans-serif;
  --font-family-text: 'ff-tisa-sans-web-pro', sans-serif;

  --heading-size-h1: 2.5rem;
  --heading-size-h2: 2.125rem;
  --heading-size-h3: 1.5625rem;
  --text-size-s: 1rem;

  --text-align: center;

  --line-height-base: 110%;

    /* Witruimte */
  --spacing-s: 9px;
  --spacing-m: 17px;
  --spacing-l: 35px;
  --spacing-xl: 96px;

    /* Randen */
  --border-radius-s: 3px;
  --border-radius-m: 5px;

  /* Button */
  --padding-btn: 0.6rem 1.6rem 0.6rem 1.6rem;
  --border-btn: none;
}

/* MAIN SETTINGS */
body {
    background-color: var(--primary-background-color);
    margin: 0;
}

/* TEXT */

h1, h2, h3 {
    line-height: var(--line-height-base);
    text-align: var(--text-align);
    max-width: 14rem;
    margin: auto;
    color: var(--heading-color);
}

h1 {
    font-size: var(--heading-size-h1);
}

h2 {
    font-size: var(--heading-size-h2);
}

h3 {
    font-size: var(--heading-size-h3);
}

p {
    font-size: var(--text-size-s);
    line-height: var(--line-height-base);
    text-align: var(--text-align);
    max-width: 18rem;
    margin: auto;
    color: var(--primary-text-color);
}

label {
    color: var(--secondary-text-color);
}

summary {
    color: var(--secondary-text-color);
}

/* Buttons */

.main-btn {
    padding: var(--padding-btn);
    border-radius: var(--border-radius-m);
    background-color: var(--color-highlight);
    border: var(--border-btn);
}

/* MENU */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.open-menu, .scroll-down-btn {
    background: none;
    border:none;
    color: var(--color-highlight);

}

.open-menu {
    display: block;

    @media (min-width: 770px) {
        display: none;
      }
}

.close-menu {
    display: none;
}

.show-close-menu {
    display: block;
}

.links-menu {
    display: none;
    flex-direction: column;

    @media (min-width: 770px) {
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }
}

.show-menu {
    display: flex;
}

.scroll-down-btn {
    display: block;

    @media (min-width: 770px) {
        display: none;
      }
}


/* PEOPLE */

.img-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* WORK OFFERS */

.work-offer {
    display: flex;
    flex-direction: row;
}

/* WORK OFFERS */

.work-offers-text {
    display: flex;
    flex-direction: column;
    
    p {
        text-align: left;
        margin-left: 0;
    }
}

/* FOOTER */

footer {
    background-color: var(--secondary-backgound-color);
}

.select-language-text {
    color: var(--secondary-text-color);
    max-width: 12rem;

    a {
        color: var(--color-highlight);
    }
}

.eidra-container {
    background-color: #000;
    h2, p {
        text-align: left;
        margin-left: 0;
        color: #fff;
    }
}

